.bookmark {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

.bookmarkLink {
  padding: 5px;
}

.bookmark button {
  padding: 5px;
  height: 30px;
  width: 50px;
}

.bookmarkEditor {
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}