.container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

label {
  padding-right: 10px;
}

.field {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.buttonContainer {
  padding: 5px;
  display: flex;
  flex-direction: column-reverse;
}

button {
 /* height: 30px;*/
}